/* Lista Skill */
#skillSchooser {
    /*border: 1px solid black;
    border-radius: 3px;*/
    height: 400px;
    overflow: auto;
    /*margin: 0 -30px 16px -30px;*/
    margin-bottom: 16px;
    padding: 0 0;
    background: #eee;
}
#skillSchooser ul {
    margin: 0;
    list-style-type: none;
    border: solid 1px #D8D8D8;
}
#skillSchooser li {
    cursor: pointer;
    line-height: 2.1em;
    padding: 0 12px;
}
#skillSchooser li:nth-child(odd) {
    background: #ccc;
}
#skillSchooser li:HOVER {
    background-color: #008CBA;
    color: white;
}
#listSkill li {
    height: auto;
    padding-bottom: 0;
    margin-bottom: 12px;
}
#listSkill .panel {
    padding: 0 10px;
    margin: 0;
}
#listSkill .panel span {
    line-height: 2em;
}
#listSkill .panel span.right {
    line-height: 2em;
    float: right;
}

/* Profile header */
.profile-header {
    display: table;
    width: 100%;
}

.profile-header .titolo,
.profile-header i {
    display: table-cell;
}

.profile-header i {
    text-align: right;
    vertical-align: middle;
    cursor: default;
}

.profile-header .attivo {
    color: #43AC6A;
}
.profile-header .non-attivo {
    color: #f04124;
}